{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="my-20 text-center">
    <div class="font-bold my-5">For qn1 Visit This Link <a
      target="_blank" href="https://colab.research.google.com/drive/1RHCT8Wc4Gt25U0nWi88SLl4L9k1m7TXC" class="text-blue-500 underline">Click Me</a></div>
      <div class="font-bold my-5">For qn2 Visit This Link <a target="_blank" class="text-blue-500 underline" href="{% url 'api:qn2' %}">Click Me</a></div>
</html>
